<div class="container">
    <h1>Saved news</h1>


<div class="container-fluid article-container">
    {{#each savedArticles}}
    <div id="article-{{id}}">
        <div data-id="{{id}}" class="card">
            <div class="card-header">
                <h3>
                    <a class="article-link" target="_blank" rel="noopener noreferrer" href="{{original_article}}">{{headline}}</a>
                    <a class="btn btn-success remove"  onclick="removeArticle({{id}});">Remove Article</a>
                    <a class="btn btn-success comment">Comment Article</a>
                </h3>
            </div>
            <div class="card-body">{{description}}</div>
        </div>
    </div>
    {{/each}}
</div>
</div>