<div class="container">
    <h1>Saved news</h1>

    {{#each savedArticles}}
        <div class="row">
            <div class="col-md-8">
                {{headline}}<br>
                ({{original_article}})
            </div>
            <div class="col-md-4">
                <button id="article-{{id}}" onclick="removeArticle('{{headline}}', '{{description}}', '{{original_article}}');">Remove article</button>
                <button id="comment-{{id}}">Comment news</button>
            </div>
        </div>
        <div class="row">
            {{description}}
        </div>
        <br>
    {{/each}}
</div>